.login {
    color: red;
    background-color: red;
}


.connected-element {
    background: lightblue;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 10%;
    border-radius: 2px;
    cursor: pointer;
}